.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 
      "content"
      "footer";
  grid-template-rows:1fr 30px;
}
main {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff64;
}
.project_contianer{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  row-gap: 10px;
  align-content: center;
  justify-content: center;
}
footer {
  background-color: #8cffa0;
  grid-area: footer;
}