.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  color: white;
  grid-template-areas: 
      "content"
      "footer";
  grid-template-rows:9fr 1fr;
  background-color: #453963;
}
main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: space-evenly;
}
.project_contianer{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  row-gap: 10px;
  align-content: center;
  justify-content: center;
}
footer {
  grid-area: footer;
}
a:link {
  color:white;
  text-decoration:none;
  }
a:visited {
color:white;
text-decoration:none;
}
a:hover {
color:white;
text-decoration:none;
}
a:active {
color:white;
text-decoration:none;
} 